@import "tailwindcss";

html {
  scroll-behavior: smooth;
  font-family: "Courier Prime", monospace;
}

body {
  margin: 0;
  padding: 0;

  text-align: center;
  background-color: #FCF2EE;
}

/* HOME */
.home-button{
    display: inline-block;
    margin: 10px;

    padding: 10px 18px;
    border-radius: 20px;

    background: white;
    color: #070C1E;

    cursor: pointer;
}

@keyframes twinkle {
  0%,
  100% {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0.6;
  }

  50% {
    opacity: 0.2;
  }
}

.star {
  position: absolute;
  opacity: 0;
  transform: scale(0.6);
  animation: starEnter 0.2s ease-out forwards;
}

@keyframes starEnter {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.first-fade-in {
  opacity: 0;
  transform: translateY(-15px);
  animation: dropIn 1.0s ease-out forwards;
}

.second-fade-in {
  opacity: 0;
  transform: translateY(-15px);
  animation: dropIn 1.0s ease-out 0.5s forwards;
}

@keyframes dropIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}