@import "tailwindcss";

html {
  scroll-behavior: smooth;
  font-family: "Courier Prime", monospace;
}

body {
  margin: 0;
  padding: 0;

  text-align: center;
  background-color: #FCF2EE;
}

.star {
  position: absolute;
  opacity: 0;
  transform: scale(0.6);

  animation:
    starEnter 0.6s ease-out forwards,
    twinkle 4s ease-in-out infinite 0.6s;
}

@keyframes twinkle {
  0%, 100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.25);
  }
}

@keyframes starEnter {
  from {
    opacity: 0;
    transform: scale(0.6);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.first-fade-in {
  opacity: 0;
  transform: translateY(-15px);
  animation: dropIn 1.0s ease-out forwards;
}

.second-fade-in {
  opacity: 0;
  transform: translateY(-15px);
  animation: dropIn 1.0s ease-out 0.5s forwards;
}

@keyframes dropIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.polaroid {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.polaroid:hover {
  transform: translateY(-10px) scale(1.05) rotate(0deg);
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.25);
}